body{
    background-color: rgb(236, 233, 233);
}
main{
    width: 70%;
    margin: auto;
    font-family: "Fira Sans", serif;
}
#sec1{
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    background-color: rgba(198, 228, 214, 1);
    height: 400px;
    padding: 5%;
}
#heroLeft>p{
    font-weight: 200;
    font-style: normal;
    font-size: 26px;
    color: rgba(14, 14, 14, 0.5);
}
#heroLeft>h1{
    font-size: 56px;
}
#heroLeft>button{
    background-color: rgba(0, 106, 80, 1);
    color: white;
    height: 56px;
    width: 270px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
}
#heroLeft>button:hover{
    background-color: aliceblue;
    color: rgba(0, 106, 80, 1);
    border: 2px solid rgba(0, 106, 80, 1);
}

/* Section 2 */

#sec2{
    margin: 80px 0px 40px;
}

/* Section 2 box */

#sec2box{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

/* Section 2 box 1 */

#sec2box1{
    background-color: rgb(199, 219, 246);
    border-radius: 20px;
    /* margin: 5px; */
    width: 28%;
    padding: 2%;
}

#sec2box1>button{
    background-color: rgb(84 144 245);
    color: white;
    font-size: 16px;
    height: 41px;
    width: 122px;
    border-radius: 5px;
    border: none;
}
#sec2box1>button:hover{
    background-color: white;
    color: rgb(84 144 245);
    border: 2px solid rgb(84 144 245);
}

/* Section 2 Box 2 */

#sec2box2{
    background-color: rgb(198 228 214);
    border-radius: 20px;
    /* margin: 5px; */
    width: 28%;
    padding: 2%;
}

#sec2box2>button{
    background-color: rgb(9 161 92);
    color: white;
    font-size: 16px;
    height: 41px;
    width: 122px;
    border-radius: 5px;
    border: none;
}
#sec2box2>button:hover{
    background-color: white;
    color: rgb(9 161 92);
    border: 2px solid rgb(9 161 92);
}

/* Section 2 Box 3 */

#sec2box3{
    background-color: rgb(247 235 207);
    border-radius: 20px;
    /* margin: 5px; */
    width: 28%;
    padding: 2%;
}

#sec2box3>button{
    background-color: rgb(255 194 57);
    color: white;
    font-size: 16px;
    height: 41px;
    width: 122px;
    border-radius: 5px;
    border: none;
}
#sec2box3>button:hover{
    background-color: white;
    color: rgb(255 194 57);
    border: 2px solid rgb(255 194 57);
}

/* Section 3 main */

#sec3main{
    margin-top: 80px 0px 40px;
}

/* Section 3 box 1 */

#sec3box1{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 25px;
    margin: 20px 0px 20px;
    padding: 40px;
}

#sec3box1img{
    width: 40%;
}

#sec3box1img>img{
    border-radius: 25px;
}

#sec3box1content{
    width: 60%;
}

#sec3box1content>section>button{
    background-color: rgb(0 106 80);
    color: white;
    font-size: 16px;
    height: 41px;
    width: 122px;
    border-radius: 5px;
    border: none;
}

#sec3box1content>section>button:hover{
    background-color: white;
    color: rgb(0 106 80);
    border: 2px solid rgb(0 106 80);
}

/* Section 3 box 2 */

#sec3box2{
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: 25px;
    margin: 20px 0px 20px;
    padding: 40px;
}

#sec3box2img{
    width: 40%;
}

#sec3box2img>img{
    border-radius: 25px;
}

#sec3box2content{
    width: 60%;
}

#sec3box2content>section>button{
    background-color: rgb(0 106 80);
    color: white;
    font-size: 16px;
    height: 41px;
    width: 122px;
    border-radius: 5px;
    border: none;
}

#sec3box2content>section>button:hover{
    background-color: white;
    color: rgb(0 106 80);
    border: 2px solid rgb(0 106 80);
}

/* section 4 */

#sec4{
    margin: 80px opx 80px;
}

#sec4>section{
    display: flex;
    justify-content: space-evenly;
}

#sec4>section>button{
    background-color: white;
    height: 128px;
    width: 240px;
    font-size: 40px;
    border-radius: 25px;
    border: none; 
}

#sec4>section>button:hover{
    background-color: rgb(198 228 214);
}

#sec4>div{
    display: flex;
    justify-content: center;
}

#sec4>div>input{
    margin: 40px;
    height: 50px;
    width: 70%;
    border-radius: 5px;
    color: white;
    border: none;
}

#sec4>div>button{
    background-color: rgb(0 106 80);
    color: white;
    font-size: 16px;
    height: 41px;
    width: 122px;
    border-radius: 5px;
    border: none;
}

#sec4>div>button:hover{
    background-color: white;
    color: rgb(0 106 80);
    border: 2px solid rgb(0 106 80);
}




footer{
    margin: auto;
    width: 70%;
    text-align: center;
}